* {
    box-sizing: border-box;
}

body {
    background: url(../images/background.jpeg) no-repeat center center fixed;
    background-size: cover;
}

#main-content {
    padding: 4.5em 0 1.25em; 
}

/* sticky footer */
html, body, #app, #all-content{
    height: 100%;
}
#all-content {
	display: flex;
	flex-direction: column;
}
#main-content {
	flex: 1 0 auto;
}
footer {
    flex-shrink: 0;
}