main {
    margin: auto;
    width: 92%;
    background-color: $offWhite;
}

.hero {
    background-image: url(../images/hero.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 14.063em;
}

.hero-title {
    padding-top: 8em;
    font-family: $styledFont;
    color: $contentColor;
    text-align: center;

    h1 {
        margin-bottom: 0;
        font-size: 2em;

        @include mq($width: 22.6875em) {
            font-size: 2.4em;
        }
    }

    h3 {
        margin-top: 0;
        font-size: 1.5em;
    }
}

.content {
    padding: 3.5em 2.5em 2.5em;
    font-family: $contentFont;
    text-align: center;
    color: $contentColor;

    h2 {
        @include header($fs: 1.6em)
    }

    button {
        padding: 0.5em 3em;
        border: none;
        border-radius: 2px;
        background-color: $accentColor;
        color: $offWhite;
        font-family: $contentFont;

        &:hover {
            opacity: 0.70;
        }

        &:active {
            box-shadow: 0px 0px 5px 2px $accentColor;
        }
    }
}