nav {
	background-color: $white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	height: 3.25em;
	width: 100%;
}

.nav-header {
	@include header($fs: 1.5em, $lh: 2.18em)
}

.hamburger {
	position: absolute;
	top: -14px;
	right: -9px;
}