nav {
	background-color: $white;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 997;
	height: 3.25em;
	width: 100%;
}

.nav-header {
	@include header($fs: 1.5em, $lh: 2.18em);
}

.home-nav-header {
	@include header($fs: 1.0em, $lh: 3.25em);

	@include mq($width: 22.6875em) {
		font-size: 1.2em;
		line-height: 2.75em;
	}

	@include mq($width: 25.625em) {
		font-size: 1.5em;
		line-height: 2.18em;
	}
}

/* hamburger */
.menu-toggle {
	background-color: $contentColor;
	padding: 2.4em 1.587em;
	border-radius: 100%;
	position: fixed;
	top: -1em;
	right: -0.7em;
	z-index: 999;

	.hamburger-top,
	.hamburger-middle,
	.hamburger-bottom {
		content: '';
		display: block;
		background-color: $white;
		height: 2px;
		width: 2em;
		transition: all ease-in-out 300ms;
	}
	.hamburger-top {
		transform: translateY(-8px);
	}
	.hamburger-bottom {
		transform: translateY(8px);
	}
}

.open {
	.hamburger-top {
		transform: translateY(2.5px) rotate(45deg);
	}
	.hamburger-middle {
		opacity: 0;
	}
	.hamburger-bottom {
		transform: translateY(-2.5px) rotate(-45deg);
	}
}

.site-nav {
	position: fixed;
	top: 0;
	right: 0;
	padding-bottom: 1.5em;
	visibility: hidden;
	height: 0;
	opacity: 0;
	transition: all ease-out 500ms;
	background-color: $contentColor;
	z-index: 998;

	@supports (clip-path: circle(0 at 100% 0)) {
		height: 29.7em;
		opacity: 1;
		clip-path: circle(0 at 100% 0);
		transition: all ease-out 500ms;
		width: 100%;
		padding-bottom: 0;
	}

	.links {
		float: right;
		padding-top: 1.5em;

		@include clearfix;
	}

	a {
		display: block;
		color: $white;
		text-decoration: none;
		@include header($fs: 1.2em, $color: $white, $lh: 1);
		padding: 1em 3.8em;

		&:hover {
			opacity: 0.7;
		}
	}

	.nav-line {
			content: '';
			display: block;
			margin: auto;
			width: 10%;
			height: 1px;
			background-color: $white;
	}
}

.site-nav-open {
	visibility: visible;
	height: 24.828125em;
	opacity: 1;
	
	@supports (clip-path: circle(18.5em at 100% 30%)) {
		height: 29.7em;
		clip-path: circle(18.5em at 100% 30%);
	}
}